
Chevalier_etal_MD962048/data/~$IndependentRecords.xlsx
.DS_Store
Chevalier_etal_MD962048/.DS_Store
Chevalier_etal_MD962048/figures/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
2021_Chevalier_etal_Pollen_Atlas_SA/Atlas.pdf
2021_Chevalier_etal_Pollen_Atlas_SA/photographs.zip
.DS_Store
.DS_Store
.DS_Store
